@using EmpClient.Models;
@using EmpClient.Api;

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var accNum = UserApi.GetUsers().Count();
    var empNum = EmployeesApi.GetEmployees().Count();
    var orgNum = OrganizationApi.GetOrganizations().Count();
    var cusNum = CustomerApi.GetCustomers().Count();
    var catNum = CategoryApi.GetCategorys().Count();
    var matNum = MaterialApi.GetMaterials().Count();
    var prdNum = ProductApi.GetProducts().Count();
    var ordNum = OrderApi.GetOrders().Count();
    var fdbNum = FeedbackApi.GetFeedbacks().Count();
}

<div class="d-flex align-items-center justify-content-between shadow-sm p-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "", "", new { area = "" }, null)
            </li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
</div>

<div class="row align-items-center justify-content-center p-3">
    <div class="shadow-sm p-3 mb-5 mx-3 bg-body-tertiary rounded col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="d-flex align-items-center container-fluid">
            <div class="px-2 fs-3">
                <i class="bi bi-person-fill-gear"></i>
            </div>
            <div class="d-flex flex-column container-fluid">
                <span class="fs-5 fw-medium text-break">Employee Accounts</span>
                <span class="fs-6 fw-semibolder">@accNum</span>
            </div>
        </div>
    </div>
    <div class="shadow-sm p-3 mb-5 mx-3 bg-body-tertiary rounded col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="d-flex align-items-center container-fluid">
            <div class="px-2 fs-3">
                <i class="bi bi-person-vcard-fill"></i>
            </div>
            <div class="d-flex flex-column container-fluid">
                <span class="fs-5 fw-medium text-break">Employees</span>
                <span class="fs-6 fw-semibolder">@empNum</span>
            </div>
        </div>
    </div>
    <div class="shadow-sm p-3 mb-5 mx-3 bg-body-tertiary rounded col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="d-flex align-items-center container-fluid">
            <div class="px-2 fs-3">
                <i class="bi bi-buildings-fill"></i>
            </div>
            <div class="d-flex flex-column container-fluid">
                <span class="fs-5 fw-medium text-break">Organizations</span>
                <span class="fs-6 fw-semibolder">@orgNum</span>
            </div>
        </div>
    </div>
    <div class="shadow-sm p-3 mb-5 mx-3 bg-body-tertiary rounded col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="d-flex align-items-center container-fluid">
            <div class="px-2 fs-3">
                <i class="bi bi-person-fill"></i>
            </div>
            <div class="d-flex flex-column container-fluid">
                <span class="fs-5 fw-medium text-break">Customers</span>
                <span class="fs-6 fw-semibolder">@cusNum</span>
            </div>
        </div>
    </div>
    <div class="shadow-sm p-3 mb-5 mx-3 bg-body-tertiary rounded col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="d-flex align-items-center container-fluid">
            <div class="px-2 fs-3">
                <i class="bi bi-grid-fill"></i>
            </div>
            <div class="d-flex flex-column container-fluid">
                <span class="fs-5 fw-medium text-break">Categories</span>
                <span class="fs-6 fw-semibolder">@catNum</span>
            </div>
        </div>
    </div>
    <div class="shadow-sm p-3 mb-5 mx-3 bg-body-tertiary rounded col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="d-flex align-items-center container-fluid">
            <div class="px-2 fs-3">
                <i class="bi bi-stack"></i>
            </div>
            <div class="d-flex flex-column container-fluid">
                <span class="fs-5 fw-medium text-break">Materials</span>
                <span class="fs-6 fw-semibolder">@matNum</span>
            </div>
        </div>
    </div>
    <div class="shadow-sm p-3 mb-5 mx-3 bg-body-tertiary rounded col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="d-flex align-items-center container-fluid">
            <div class="px-2 fs-3">
                <i class="bi bi-box-fill"></i>
            </div>
            <div class="d-flex flex-column container-fluid">
                <span class="fs-5 fw-medium text-break">Products</span>
                <span class="fs-6 fw-semibolder">@prdNum</span>
            </div>
        </div>
    </div>
    <div class="shadow-sm p-3 mb-5 mx-3 bg-body-tertiary rounded col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="d-flex align-items-center container-fluid">
            <div class="px-2 fs-3">
                <i class="bi bi-cart4"></i>
            </div>
            <div class="d-flex flex-column container-fluid">
                <span class="fs-5 fw-medium text-break">Orders</span>
                <span class="fs-6 fw-semibolder">@ordNum</span>
            </div>
        </div>
    </div>
    <div class="shadow-sm p-3 mb-5 mx-3 bg-body-tertiary rounded col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="d-flex align-items-center container-fluid">
            <div class="px-2 fs-3">
                <i class="bi bi-star-half"></i>
            </div>
            <div class="d-flex flex-column container-fluid">
                <span class="fs-5 fw-medium text-break">Feedbacks</span>
                <span class="fs-6 fw-semibolder">@fdbNum</span>
            </div>
        </div>
    </div>
</div>

