@using System.Configuration;

@model IEnumerable<EmpClient.Models.Employee>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    FullName
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.TitleOfCourtesy)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.BirthDate)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.HireDate)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th scope="col">
                    FullName's Manager
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Organization.OrganizationName)
                </th>
                <th class="col">
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @if (Model.Count() < 1)
            {
                <tr class="table-group-divider">
                    <td colspan="11" class="text-center fw-semibold text-danger">
                        Please add new employees!
                    </td>
                </tr>
            }
            @foreach (var item in Model)
            {
                string mid = ConfigurationManager.ConnectionStrings["MyImageDomain"].ConnectionString;
                string avatarLink = mid + item.PhotoPath;
                string classImageToolTip = "rounded-circle bg-dark";
                string sizeImageToolTip = "50";
                string imgToolTip = "<img class=\"" + classImageToolTip + "\" src=\"" + avatarLink + "\" height=\"" + sizeImageToolTip + "\" width=\"" + sizeImageToolTip + "\" />";

                <tr data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="@imgToolTip">
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleOfCourtesy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HireDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manager.FirstName)
                        @Html.DisplayFor(modelItem => item.Manager.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Organization.OrganizationName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
}
