@using CusClient.Api
@using CusClient.Models

@{ 
    List<Category> categories = CategoriesApi.GetCategories();
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link href="~/Content/Images/MyImage/IconBlackRb.png" rel="icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*Bootstrap*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    @*End Bootstrap*@

    @*Font family*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Tenor+Sans&display=swap" rel="stylesheet">
    @*End font family*@

    @*Carousel slick slide*@
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    @*End carousel slick slide*@

    @* Font awesome icon *@
    <script src="https://kit.fontawesome.com/2818e3862b.js" crossorigin="anonymous"></script>
    @* End font awesome icon *@

    @* Customer css *@
    <link href="~/Content/customer.css" rel="stylesheet" />
    @* End customer css *@
</head>

<body style="overflow-x: hidden">
    <nav class="navbar navbar-expand-lg navbar-light shadow bg-body-tertiary navbar-fixed-top">
        <div class="container-fluid">
            <div class="bd-navbar-toggle">
                <button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdSidebarFeauture" aria-controls="bdSidebarFeauture" aria-label="Toggle docs navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                    </svg>

                    <span class="d-none fs-6 pe-1">Browse</span>
                </button>
            </div>
            <a class="navbar-brand justify-content-center" href="/">
                <img src="~/Content/Images/logo.png" alt="" style="width:10rem; height:auto" />
            </a>
            <button class="navbar-toggler d-flex d-lg-none p-2 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Main Navigation">
                <span class="bi bi-three-dots">
                    <title>Main Navigation</title>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
                </ul>
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                    <li class="nav-item dropdown">
                        <a class="d-flex flex-row nav-link mx-1 px-lg-2 align-items-center"
                           href="#"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="d-block my-1 bi bi-person" viewBox="0 0 16 16">
                                <title>Sign In</title>
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0
                                      6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4
                                      0Zm4 8c0 1-1 1-1
                                      1H3s-1 0-1-1 1-4 6-4 6 3 6
                                      4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516
                                      10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168
                                      1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                            </svg>
                            <small class="d-lg ms-2 fw-medium">Sign In</small>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            @if (Session["UserID"] == null)
                            {
                                <li>
                                    <a class="d-flex flex-row btn mx-1 borders align-items-center justify-content-center"
                                       href="/Users/SignIn"
                                       type="button">
                                        <small class="d-lg ms-2 fw-medium">Sign In</small>
                                    </a>
                                </li>
                                <li>
                                    <a class="d-flex flex-row btn btn-primary mx-1 align-items-center justify-content-center"
                                       href="/Users/SignUp"
                                       type="button">
                                        <small class="d-lg ms-2 fw-medium">Sign Up</small>
                                    </a>
                                </li>
                            }
                            <li>
                                <a class="dropdown-item" href="/Orders">Order Status</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex flex-row nav-link mx-1 px-lg-2 me-lg-3 justify-content-around align-items-center"
                           href="/Carts">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="d-block my-1 bi bi-cart3" viewBox="0 0 16 16">
                                <title>Carts</title>
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1
                                      .485.379L2.89 3H14.5a.5.5 0 0 1
                                      .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0
                                      1H4a.5.5 0 0 1-.491-.408L2.01 3.607
                                      1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102
                                      4l.84 4.479 9.144-.459L13.89
                                      4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7
                                      0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7
                                      1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7
                                      0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                            <small class="d-lg ms-2 fw-medium">Carts</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-transparent p-0">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav justify-content-around" style="width: 100%">
                    @if (categories.Count < 1)
                    {
                        <li>
                            <p class="text-center text-secondary fw-semibold py-3 m-0">No category in this</p>
                        </li>
                    }

                    @foreach (Category c in categories)
                    {
                        <li>
                            <a class="nav-link text-center text-uppercase material-item py-1 px-2 fs-5 fw-semibold" href="/Products?CategoryID=@c.CategoryID" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                @c.CategoryName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
        <div class="offcanvas offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebarFeauture" aria-labelledby="bdSidebarFeautureOffcanvasLabel" aria-modal="true" role="dialog">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="bdSidebarFeautureOffcanvasLabel">MyImage</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdSidebarFeauture"></button>
            </div>
            <div class="offcanvas-body">
                <nav class="bd-links w-100" id="bd-categories-nav" aria-label="Categories navigation">
                    <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
                        <li class="bd-links-group py-2">
                            <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
                                Categories
                            </strong>
                            <ul class="list-unstyled fw-normal pb-2 small">
                                @if (categories.Count < 1)
                                {
                                    <li>
                                        <p class="text-center text-secondary fw-semibold py-3 m-0">No category in this</p>
                                    </li>
                                }

                                @foreach (Category c in categories)
                                {
                                    <li>
                                        <a class="nav-link text-center text-uppercase material-item py-1 px-2 fs-5 fw-semibold" href="/Products?CategoryID=@c.CategoryID" role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            @c.CategoryName
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <main class="bd-main order-1">
        @RenderBody()
    </main>

    <footer class="bd-footer pt-4 pt-md-5 m-0 bg-purple2">
        <div class="container px-4 px-md-3 text-body-secondary">
            <div class="row py-4 py-md-5">
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                    <p class="fs-2 fw-semibold">Support</p>
                    <div class="d-flex flex-column">
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">Customer Support</a>
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="/Orders">Order Status</a>
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">Pricing</a>
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">Give a Gift Card</a>
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">Redeem a Gift Card</a>
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">Returns</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                    <p class="fs-2 fw-semibold">About</p>
                    <div class="d-flex flex-column">
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">About Us</a>
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">Pickup Locations</a>
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">
                            Shipping & Processing
                        </a>
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">Ship Dates</a>
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">Terms & Conditions</a>
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">Privacy Policy</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 mb-3">
                    <p class="fs-2 fw-semibold">Resources</p>
                    <div class="d-flex flex-column">
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">Insights</a>
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">FAQ</a>
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">Affiliate Program</a>
                        <a class="fs-5 p-0 m-0 text-secondary link-underline link-underline-opacity-0" href="#">Sample Packs</a>
                    </div>
                </div>
            </div>

            <div class="d-flex border-2 border-top border-dark justify-content-center py-5">
                <div class="mx-3">
                    <a href="">
                        <i class="fab fa-facebook-square text-black fs-2"></i>
                    </a>
                </div>

                <div class="mx-3">
                    <a href="">
                        <i class="fa-brands fa-google text-black fs-2"></i>
                    </a>
                </div>

                <div class="mx-3">
                    <a href="">
                        <i class="fa-brands fa-instagram text-black fs-2"></i>
                    </a>
                </div>

                <div class="mx-3">
                    <a href="">
                        <i class="fa-brands fa-twitter text-black fs-2"></i>
                    </a>
                </div>

                <div class="mx-3">
                    <a href="">
                        <i class="fa-brands fa-twitch text-black fs-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $('.product__carousel').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 5,
                slidesToScroll: 3,
                autoplay: false,
                autoplaySpeed: 2000,
                arrows: true,
                prevArrow: "<button type='button' class='slick-prev slick-prev-primary pull-left'><i class='fa fa-solid fa-angle-left' aria-hidden='true'></i></button>",
                nextArrow: "<button type='button' class='slick-next slick-prev-primary pull-right'><i class='fa fs-solid fa-angle-right' aria-hidden='true'></i></button>",
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 3
                        }
                    },
                    {
                        breakpoint: 1025,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>
</body>

</html>