@using EmpClient.Views.PatrialClass;

@{
    List<MenuItem> lMenuItem = MenuItem.InitData();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/Images/MyImage/IconBlackRb.png" rel="icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - System Management</title>
    @*Bootstrap*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    @*End Bootstrap*@

    @*Font family*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Tenor+Sans&display=swap" rel="stylesheet">
    @*End font family*@

    @*Carousel slick slide*@
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    @*End carousel slick slide*@

    @* Font awesome icon *@
    <script src="https://kit.fontawesome.com/2818e3862b.js" crossorigin="anonymous"></script>
    @* End font awesome icon *@

    @* Customer css *@
    <link href="~/Content/customer.css" rel="stylesheet" />
    @* End customer css *@
</head>

<body data-bs-spy="scroll">
    <nav class="navbar navbar-expand-lg navbar-light shadow bg-body-tertiary navbar-fixed-top sticky-top">
        <div class="container-fluid">
            <div class="bd-navbar-toggle">
                <button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdSidebarFeauture" aria-controls="bdSidebarFeauture" aria-label="Toggle docs navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                    </svg>

                    <span class="d-none fs-6 pe-1">Feautures</span>
                </button>
            </div>
            <a class="navbar-brand justify-content-center" href="/">
                <img src="~/Content/Images/MyImage/IconBlackRb.png" alt="" style="width:2rem; height:auto" />
            </a>
            <button class="navbar-toggler d-flex d-lg-none p-2 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Main Navigation">
                <span class="bi bi-three-dots">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
                </ul>
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                    <li class="nav-item dropdown">
                        <a class="d-flex flex-row nav-link mx-1 px-lg-2 align-items-center"
                           href="#"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="d-block my-1 bi bi-person" viewBox="0 0 16 16">
                                <title>Sign In</title>
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0
                                      6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4
                                      0Zm4 8c0 1-1 1-1
                                      1H3s-1 0-1-1 1-4 6-4 6 3 6
                                      4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516
                                      10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168
                                      1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                            </svg>
                            <small class="d-lg ms-2 fw-medium">Sign In</small>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            @if (Session["UserID"] == null)
                            {
                                <li>
                                    <a class="d-flex flex-row btn mx-1 borders align-items-center justify-content-center"
                                       href="/Users/SignIn"
                                       type="button">
                                        <small class="d-lg ms-2 fw-medium">Sign In</small>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="d-flex flex-row btn mx-1 borders align-items-center justify-content-center"
                                       href="/Users/Signout"
                                       type="button">
                                        <small class="d-lg ms-2 fw-medium">Sign Out</small>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="d-flex w-100">
        <div class="bd-sidebar shadow offcanvas-lg offcanvas-start p-0 m-0 col-lg-2" tabindex="-1" id="bdSidebarFeauture"
             aria-labelledby="bdSidebarFeautureOffcanvasLabel" aria-modal="true" role="dialog"
             data-bs-scroll="false" data-bs-backdrop="true">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="bdSidebarFeautureOffcanvasLabel">MyImage</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdSidebarFeauture"></button>
            </div>
            <div class="offcanvas-body">
                <nav class="bd-links w-100" id="bd-feature-nav" aria-label="Features navigation">
                    <ul class="bd-links-nav list-unstyled m-0 p-0">
                        <li class="row bd-links-group m-0 p-0">
                            <div class="d-flex w-100 align-items-center">
                                <div class="px-2" style="max-width: 100px;">
                                    <img class="rounded-circle bg-dark" height="50" width="50" src="~/Content/Images/MyImage/IconWhiteRb.png" alt="Profile Picture" />
                                </div>

                                <div class="m-2 pt-3 px-2 introduce-section__feedback-text">
                                    <p class="text-wrap text-break fw-bold mb-1">Khac Duong</p>
                                    <p class="text-success d-flex flex-row align-items-center fs-6 fw-medium">
                                        <i class="fs-sosmall bi bi-circle-fill me-1"></i>
                                        <span>Online</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        @foreach (MenuItem menuItem in lMenuItem)
                        {
                            string activeMenuItem = "";

                            if (ViewBag.Title == menuItem.Title)
                            {
                                activeMenuItem = "active";
                            }

                            <li class="row bd-links-group m-0 p-0">
                                <a type="button" class="d-flex btn btn-outline-primary border-0 rounded-0 py-3 ps-2 pe-3 @activeMenuItem" href="@menuItem.Href">
                                    <i class="fs-5 pe-1 @menuItem.Icon"></i>
                                    <strong class="bd-links-heading d-flex w-100 align-items-center text-wrap fw-semibold text-break ">
                                        @menuItem.Title
                                    </strong>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>

        <main class="w-100">
            @RenderBody()
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")
</body>

</html>