@using PagedList.Mvc;
@using EmpClient.Models;

@model  PagedList.IPagedList<Product>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex align-items-center justify-content-between shadow-sm p-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "", "", new { area = "" }, null)
            </li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
    </nav>

    <div class="d-flex align-items-center justify-content-between">
        <a class="d-flex align-items-center btn btn-outline-primary rounded-0 p-1 pe-2" href="/Products/Create">
            <i class="pe-1 bi bi-plus"></i>
            <strong class="d-flex w-100 h-100 text-wrap fw-semibold text-break">
                Create New
            </strong>
        </a>
    </div>
</div>

<div class="mt-3 px-5 pt-5">
    @Html.Partial("~/Views/Shared/_SuccessMessage.cshtml")
    @Html.Partial("~/Views/Shared/_ErrorMessage.cshtml")
    @Html.Partial("_tablesPagedList", Model)

    <div class="d-flex justify-content-between align-items-center container-fluid">
        <div class="text-center">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>
